pipeline/Dinesh_Pro_Assign2.json
{
	"name": "Dinesh_Pro_Assign2",
	"properties": {
		"activities": [
			{
				"name": "unzip folder",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings",
								"preserveZipFileNameAsFolder": false
							}
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "unzipfolder1",
						"type": "DatasetReference",
						"parameters": {
							"src_container": {
								"value": "@pipeline().parameters.container",
								"type": "Expression"
							},
							"src_folderpath": {
								"value": "@pipeline().parameters.in_folder",
								"type": "Expression"
							},
							"src_filename": {
								"value": "@pipeline().parameters.Filename",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "unzipfolder2",
						"type": "DatasetReference",
						"parameters": {
							"sin_container": {
								"value": "@pipeline().parameters.container",
								"type": "Expression"
							},
							"sink_folder": {
								"value": "@pipeline().parameters.out_folder",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "unzip folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Getmetadata_folderpath",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"exists",
						"itemName",
						"itemType",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/dineshciet619@live.com/Project2_Final",
					"baseParameters": {
						"mainpath": {
							"value": "@concat('/mnt/',pipeline().parameters.container,'/',pipeline().parameters.in_folder,'/',activity('Get Metadata1').output.childItems[0])",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "USE_AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"container": {
				"type": "string"
			},
			"in_folder": {
				"type": "string"
			},
			"out_folder": {
				"type": "string"
			},
			"Filename": {
				"type": "string"
			}
		},
		"variables": {
			"containerne": {
				"type": "String"
			},
			"Foldername": {
				"type": "String"
			},
			"Filepath1": {
				"type": "String"
			}
		},
		"annotations": []
	}
}