pipeline/Dinesh_Pro_Assign2.json
{
	"name": "Dinesh_Pro_Assign2",
	"properties": {
		"activities": [
			{
				"name": "unzip folder",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings",
								"preserveZipFileNameAsFolder": false
							}
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "unzipfolder1",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@variables('containerne')",
								"type": "Expression"
							},
							"Folderpath": {
								"value": "@variables('Foldername')",
								"type": "Expression"
							},
							"filename": {
								"value": "@variables('Filepath1')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "unzipfolder1",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@variables('containerne')",
								"type": "Expression"
							},
							"Folderpath": {
								"value": "@variables('Foldername')",
								"type": "Expression"
							},
							"filename": {
								"value": "@variables('Filepath1')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "unzip folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Getmetadata_folderpath",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"exists",
						"itemName",
						"itemType",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"variables": {
			"containerne": {
				"type": "String"
			},
			"Foldername": {
				"type": "String"
			},
			"Filepath1": {
				"type": "String"
			}
		},
		"annotations": []
	}
}